In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
from notion_client import Client
import tkinter as tk
from tkinter import simpledialog, messagebox

import sys
sys.path.append('c:/Users/tomas/Documents/Programaci贸n/Universidad/Patricionog/Datos/Paquetes/')
import Foragio as fg
import Excelio as ex
import Framio as fr
import Stringio as st
import Listio as ls
import Graphio as gr

In [16]:
Data = {
    'Nombre': ['Juan', 'Ana', 'Luis', 'Juan', 'Pedro', 'Ana'],
    'Edad': [23, 35, 29, 23, 30, 35],
    'Ciudad': ['Buenos Aires', 'C贸rdoba', 'Rosario', 'Buenos Aires', 'La Plata', 'C贸rdoba'],
    'Calificaci贸n': [85, 90, 78, 85, 88, 90]
}

df = pd.DataFrame(Data)